// vim: set fdm=marker fdl=1 fdc=3

// first for IE 4–8
@font-face {
  font-family: FertigoPRO;
  src: url("/fonts/Fertigo_PROWeb.eot");
}

// then for WOFF-capable browsers
@font-face {
  font-family: FertigoPRO;
  src: url("/fonts/Fertigo_PROWeb.woff") format("woff");
}

@import "settings";
@import "compass/css3";

// Selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/clearing",
   "foundation/components/dropdown",
   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
   "foundation/components/side-nav",
   "foundation/components/split-buttons",
   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
   "foundation/components/tabs",
   "foundation/components/thumbs",
//   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type",
//   "foundation/components/offcanvas",
   "foundation/components/visibility";


// Body styles {{{2
body {
  padding-bottom: $footer-height;
}
#content {
  background-color: white;
  padding-bottom: 60px;
  margin-top: 10px;
}
h1 > a {
  height: 45px;
}
#js-backstretch-container {
  display: block;
  min-height: $overlay-height;
}
#backstretch {
  position: relative;
  overflow: hidden;
  max-height: 900px;
}
#backstretch > img {
  z-index: -999;
  position: absolute;
  max-width: none;
  max-height: none;
}
#overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  width: 100%;
  height: $overlay-height + $overlay-margin;
  text-align: center;
}
#overlay > img {
  margin-top: $overlay-margin;
  padding: 0 10px;
}
// }}}2

// Sticky footer styles {{{3
#footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  @include box-shadow($footer-bg-color 2px 2px 5px);
  background-color: $footer-bg-color;
}
.social-button {
  background: transparent url('/imgs/social.png') no-repeat;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  display: inline-block;
}
.social-button-fb {
  background-position: left -110px;
}
.social-button-instagram {
  background-position: left -53px;
}
.social-button-email {
  background-position: left -162px;
}
.raw-contact-info {
  color: white;
  text-align: right;
}
// }}}3

// Weather {{{4
.weather-wrap {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
  color: white;
  font-family: "Open Sans", Tahoma, sans-serif;
  line-height: 14px;
}
.weather-cover {
  background: url('/imgs/weather_bg.jpg') repeat 0 0;
}
.weather-darken {
  background-color: rgba(0, 0, 0, 0.3);
}
.weather-header {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.weather-current-temp {
  padding: 10px 5%;
  font-size: 66px;
  line-height: 1em;
  font-weight: 300;
  text-align: center;
}
.weather-current-temp > sup {
  font-size: 24px;
  top: 1.8em;
  padding-left: 3px;
  position: absolute;
}
.weather-todays-stats {
  text-align: right;
  padding: 14px 5%;
  line-height: 1.4em;
}
.weather-forecast {
  margin: 0 5%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.weather-forecast-day {
  padding: 20px 5% 15px;
  text-align: center;
  font-weight: 400;
}
.weather-forecast-day-temp {
  font-size: 1.8em;
  font-weight: 400;
}
.weather-forecast-day-temp > sup {
  font-size: 0.6em;
  padding-left: 2px;
  position: absolute;
}
.weather-forecast-day-abbr {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-top: 10px;
}
// }}}4

// Calculator {{{5
#calculator {
  background-color: $calculator-bg-color;
  margin: 10px;
}
#calculator-total, #calculator-total-label {
  font-family: $font-family-serif;
  font-size: 1.4em;
}
#calculator-total {
  font-style: italic;
}
// }}}5
